## What username do you want? Note this has to be `a-z0-9-_.` per the LNURL spec,
## it's not as expressive as an email address.
USERNAME=satoshi

## The hostname (not including `https://` etc.) where you'll be running
## your LNURL. This is used to make your address e.g. `satoshi@example.com`,
## and also to provide the correct URLs in responses to payment requests.
LNURL_HOSTNAME=example.com

## URL of your `phoenixd` instance. Note the username (`satoshi` here)
## is not used, but you have to set it to something. `satoshi` or `_` work well.
## Your `phoenixd` instance will put its password in `~/.phoenix/phoenix.conf`
PHOENIXD_URL=http://_:hunter2@127.0.0.1:9740

## Optional: set the minimum number of sats you wish to recieve in a single payment (default: 1)
# MIN_SATS_RECEIVABLE=1
## Optional: set the minimum number of sats you wish to recieve in a single payment (default: all of the sats)
# MAX_SATS_RECEIVABLE=2100000000000000

## Optional; set to show a profile photo on your tips page `/lnurl`
# USER_PROFILE_IMAGE_URL=https://example.com/your_profile_photo.png

## Optional; set an `npub` Nostr address to show on your tips page `/lnurl`
# USER_NOSTR_ADDRESS=npub1...
## Optional; if using the NIP-5 feature, which relays your above USER_NOSTR_ADDRESS posts to
# NOSTR_RELAYS=["wss://nostr.example.com", "wss://..."]
## Optional; if you want to recieve Nostr Zaps in addition to normal LNURL payments, we need a Nost private key
## NOTE this can be provided as an environment variable instead, which may be safer
# USER_NOSTR_PRIVATE_KEY=nsec1...

## Optional & Technical: Change the log level. Values: "INFO" (default), "DEBUG", "WARNING", etc.
# LOG_LEVEL=DEBUG

## WARNING: Intended for development only, enables useful but dangerous-in-public debug features
# DEBUG=1
